<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MilkyWay | Admin-Panel</title>
    <link rel="stylesheet" href="../../../../../index.php" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logotype">
            <img src="{{dir}}media/alogo.png" width="40" height="40"> <div class="text">{{ipaddr}}</div>
        </div>
    </header>
    <main>
        <div class="main-left-block">
            <div class="main-left-block-menu">
                <strong>ADMINPANEL</strong>
                <div class="main-left-block-menu-buttons">
                    <div class="main-left-block-menu-button">
                        METRICS
                    </div>
                    <div class="main-left-block-menu-button">
                        SETTINGS
                    </div>
                    <div class="main-left-block-menu-button">
                        CHAT
                    </div>
                    <div class="main-left-block-menu-button">
                        STATISTICS
                    </div>
                </div>
            </div>
            <div class="menu-left-block-menu-zero"></div>
            <div class="main-left-block-menu-down">
                    <strong>DEVELOPMENT</strong>
                    <div class="main-left-block-menu-buttons">
                        <div class="main-left-block-menu-button">
                            CHRONOLOGY
                        </div>
                        <div class="main-left-block-menu-button">
                            LOGS
                        </div>
                        <div class="main-left-block-menu-button">
                            SUPPORT
                        </div>
                    </div>
            </div>
            <div class="main-left-block-menu-down">
                <strong>SYSTEM</strong>
                <div class="main-left-block-menu-buttons">
                    <div class="main-left-block-menu-button">
                        CONSOLE
                    </div>
                    <div class="main-left-block-menu-button">
                        BACKUPS
                    </div>
                    <div class="main-left-block-menu-button">
                        DATABASES
                    </div>
                    <div class="main-left-block-menu-button">
                        API
                    </div>
                </div>
            </div>
            <!--<footer>
                111
            </footer>-->
        </div>
        <content>
            <div class="statistics">
                STATISTICS
            </div>
        </content>
    </main>
</body>
</html>